.custom-bg {
    background-color: #2b2f33;
}

.dropdown-item {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.notification {
    position: relative;
    top: -10px;
    left: -2px;
    border-radius: 10px
}

// .fixed {
//     position: absolute;
// }