.wrap {
    width: 95%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.header {
    background: #FFF;
}

.header_top {
    padding: 20px 0;
}

.headertop_desc {
    padding: 0;
    border-bottom: 1px solid #EEE;
}

.call {
    margin-left: 4px;
    float: left;
}

.call p {
    font-size: 0.9em;
    color: #9C9C9C;
}

.call p span {
    color: #303030;
    font-size: 1em;
    font-weight: bold;
}

.call p span.number {
    color: #E4292F;
    font-size: 1em;
    letter-spacing: 1px;
}

.account_desc {
    float: right;
}

.account_desc li {
    display: inline;
    border-left: 1px dotted #CCC;
}

.account_desc li:first-child {
    border: none;
}

.account_desc li a {
    font-size: 0.823em;
    color: #9C9C9C;
    padding: 0 10px;
    font-family: 'ambleregular';
}

.account_desc li a:hover {
    color: #E4292F;
}

.logo {
    float: left;
}

.header_bottom {
    background: #383838;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-rfadius: 6px;
    -o-border-radius: 6px;
}

.header_bottom {
    padding-bottom: 10px;
}

@media only screen and (max-width: 736px) {
    .logo {
        float: left;
        width: 40%;
    }
}

@media only screen and (max-width: 667px) {
    .logo {
        width: 34%;
    }
    .logo {
        float: left;
        width: 34%;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        float: none;
        width: 34%;
        margin: 0 auto;
    }
    .images_3_of_2 {
        width: 75.8%;
    }
}

@media only screen and (max-width: 568px) {
    .call,
    .account_desc {
        float: none;
        text-align: center;
    }
    .account_desc {
        margin: 1em 0 0;
    }
    .logo {
        width: 40%;
    }
    .images_3_of_2 {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .wrap {
        width: 95%;
    }
    .logo {
        width: 46%;
    }
    .call,
    .account_desc {
        float: none;
        text-align: center;
    }
    .call {
        margin-bottom: 10px;
    }
    .account_desc li a {
        padding: 0 10px;
    }
    .logo,
    .cart {
        float: none;
        text-align: center;
    }
    .header_bottom {
        padding-bottom: 10px;
    }
    .menu li a {
        padding: 15px 20px;
    }
    .price-number {
        float: none;
        padding-top: 0;
    }
    .span_2_of_3 {
        width: 96%;
        padding: 2%;
    }
    .span_1_of_4 {
        width: 100%;
    }
    .col_1_of_4 {
        margin: 2% 0;
    }
    .images_3_of_2 {
        width: 100%;
    }
    .span_3_of_2 {
        width: 98%;
    }
    .desc {
        margin: 10px 0;
    }
    #posts .tab .post-title {
        font-size: 0.9em;
        line-height: 1.5;
    }
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_3 {
        width: 96%;
        padding: 2%;
    }
}

@media only screen and (max-width: 384px) {
    .cart p span {
        font-size: 1.25em;
        display: block;
        margin: 0.3em 0 0;
    }
    .header_top {
        padding: 12px 0 20px;
    }
    .wrapper-dropdown-2 {
        margin: 0.5em auto 0;
    }
    .wrapper-dropdown-2:after {
        right: 82px;
        top: 77%;
    }
    .account_desc li a {
        padding: 0 6px;
    }
    .logo {
        width: 54%;
    }
    .content h2 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 320px) {
    .wrap {
        width: 95%;
    }
    .logo {
        width: 63%;
    }
    .account_desc li a {
        padding: 0;
    }
    .menu li a {
        padding: 15px 4.8px;
    }
    .images_1_of_4 {
        width: 96.8%;
    }
    .grid_1_of_4 {
        margin: 1% 0 1% 0;
    }
    .heading h3 {
        font-size: 1em;
    }
    .content_top,
    .content_bottom {
        padding: 10px;
    }
    .span_1_of_3 p.history {
        width: 80%;
    }
    .contact-form input[type="text"],
    .contact-form textarea {
        width: 93%;
    }
    .wrapper-dropdown-2:after {
        right: 67px;
    }
    .wrapper-dropdown-2:after {
        right: 67px;
    }
    .header_top {
        padding: 7px 0 15px;
    }
    .content h2 {
        font-size: 0.97em;
    }
}