<div class="container mt-4" *ngIf="meData && available">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <app-checkout-resume></app-checkout-resume>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Información sobre el pago</h4>
            <hr>
            <form class="needs-validation" (ngSubmit)="sendData()" #form="ngForm">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Nombre</label><br>
                        <span>{{meData.user.name}}</span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Apellidos</label><br>
                        <span>{{meData.user.lastname}}</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Email</label><br>
                    <span>{{meData.user.email}}</span><br>
                </div>

                <div class="mb-3">
                    <label for="address">Dirección de entrega</label>
                    <textarea #adressDelivery="ngModel" [(ngModel)]="address" name="address" [ngClass]="{'is-valid' : !adressDelivery.invalid, 'is-invalid' : adressDelivery.invalid}" cols="50" row="5" type="text" class="form-control" id="address" placeholder="Avenida Gran Vía, 5, Vigo, Pontevedra, 36208"
                        required=""></textarea>
                    <div class="invalid-feedback">
                        Por favor, introduce la dirección de envío.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Añadir a dirección <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Casa, apartamento, finca...">
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Datos de pago</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input (click)="payMethod('stripe')" id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input (click)="payMethod('paypal')" id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div *ngIf="!paypal" class="row">
                    <div class="col-lg">

                        <ng-stripe-pay-form [key]="key" [hidePostalCode]="true"></ng-stripe-pay-form>

                    </div>
                </div>
                <hr class="mb-4">
                <button *ngIf="stripe" (click)="sendData()" [disabled]="!form.valid || blockOnce" class="signup-btn" type="submit">Pagar pedido</button>
                <!-- <button *ngIf="paypal" (click)="sendData()" [disabled]="!form.valid || blockOnce" class="signup-btn paypal" type="submit">Pagar por PayPal</button> -->
                <!-- <button (click)="addPaypalScript()" *ngIf="paypal" (click)="sendData()" [disabled]="!form.valid || blockOnce" class="signup-btn paypal" type="submit">Pagar por PayPal</button> -->
                <ngx-paypal *ngIf="paypal" [config]="payPalConfig"></ngx-paypal>
            </form>
        </div>

    </div>