/*==================================================
Colores para el administrador
==================================================*/

// Esto es como definir una variable
$admin-primary-color: #181F2C !important;
$admin-secondary-color: #0143a3 !important;

/*==================================================
Colores para el apartado público (tienda)
==================================================*/

$price-primary-color: #cc1c39;
$price-discount: #999
/*==================================================
Colores comunes
==================================================*/